@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.scrollbar-blue {
  position: relative;
}

/* Hide scrollbar initially */
.scrollbar-blue::-webkit-scrollbar {
  height: 0px;
  transition: height 0.3s ease-in-out;
}

/* Show scrollbar on hover */
.scrollbar-blue:hover::-webkit-scrollbar {
  height: 4px;
}

.scrollbar-blue::-webkit-scrollbar-track {
  background: transprent;
}

.scrollbar-blue::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 10px;
}

.scrollbar-blue:hover::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
}

.input-style {
  @apply border border-gray-300 rounded-md px-4 py-3 text-sm focus:outline-none focus:ring-1 focus:ring-blue-500 w-full;
}
